<h1>Bugs</h1>

<table width="100%">
  <tr>
    <th>Title</th>
    <th>Found</th>
    <th>Screen</th>
    <th>Priority</th>
    <th>Resolved</th>
    <th></th>
  </tr>

<% @bugs.each do |bug| %>
  <tr class="<%= cycle("even", "odd") %>">
	<% if bug.resolved == true %>
	  <tr class="dead") >
	<% else %>
	  <tr class="live") >
	<% end %>
    <td><%= link_to bug.title, edit_bug_path(bug) %></td>
    <td><%= bug.found %></td>
    <td><%= bug.screen.name %></td>
    <td><%= bug.priority %></td>
    <td><%= render_boolean(bug.resolved) %></td>
    <td><%= link_to 'Delete', bug, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bug', new_bug_path %>
